/*活动规则*/
.ruler_new {
    position: absolute;
    width: 5rem;
    top: -2.5rem;
    left: 1rem;
}

.rule_box, .share_friend_circle {
    position: fixed;
    top: 0;
    min-width: 320px;
    max-width: 640px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 3;
}

.rule_box .rule_area, .share_friend_circle .friend_circle_area {
    position: absolute;
    top: 50%;
    left: 48%;
    margin-left: -7rem;
    margin-top: -9.25rem;
    width: 13.5rem;
    height: 19rem;
    background: #FFF;
    border: 2px solid #962300;
    border-radius: 3px;
    padding: 1rem 0.5rem 0 0.5rem;
    border-radius: 25px;
}

.rule_box .rule_area .close, .share_friend_circle .friend_circle_area .close {
    position: absolute;
    top: -0.45rem;
    right: -0.3rem;
    width: 1.7rem;
    height: 1.7rem;
    background: url("../images/rule_close_btn.png") no-repeat;
    background-size: contain;
}

.rule_box .rule_area h6 {
    width: 5.15rem;
    height: 1.2rem;
    text-align: center;
    background-size: contain;
    margin: 0 auto 1rem;
    font-size: 0.8rem;
    color: rgb(101, 72, 15)

}

.rule_box .rule_area p {
    font-size: 0.6rem;
    color: #65480f;
    line-height: 1rem;
    margin-bottom: 0.8rem;
}

/*分享给好友*/
.share_friend_circle .friend_circle_area {
    width: 12.4rem;
    height: 18rem;
    padding: 0.8rem 0.7rem;
}

.share_friend_circle .friend_circle_area p {
    color: #962300;
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 1.15rem;
    margin-bottom: 0.5rem;
}

.share_friend_circle .friend_circle_area .title {
    margin-bottom: 1.15rem;
    line-height: 0.7rem;
}

.share_friend_circle .friend_circle_area p .point {
    display: inline-block;
    width: 1.6rem;
    height: 1.1rem;
    background: url("../images/share_friend_point.png") no-repeat;
    background-size: contain;
    vertical-align: middle;
}

.share_friend_circle .friend_circle_area .share_friend_module {
    display: block;
    width: 10.75rem;
    height: 8.85rem;
    margin: 0 auto 0.8rem;
}

.share_friend_circle .friend_circle_area .confirm_submit {
    width: 6.4rem;
    height: 1.85rem;
    background: url("../images/earn_bill_btn.png") no-repeat;
    background-size: 100%;
    font-size: 0.7rem;
    color: #962300;
    line-height: 1.85rem;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
}

.share_friend_circle .share_arrow {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 10;
    width: 12rem;
}

/*alert弹框*/
.alert_window .title {
    color: #EC4D4A;
}

.alert_window button {
    background: #EC4D4A;
}