@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
.top{
    width: 95%;
    padding: 1.5% 0;
    padding-left: 5%;
}
img{
    width: 100%;
    height: 100%;
}
body{
    font-family: "黑体";
}
a{
    text-decoration: none;
}
.fix{
    *zoom: 1;
}
.fix:after,.fix:before{
    display: block;
    content: "clear";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.top img{
    width: 72%;
    height:0.7rem;
}
.gw_btn2 {
    width: 88%;
    margin-left: 5.5%;
    background: url(../img/btn_bg.png) no-repeat;
    background-size: 100% 100%;
    padding: 1% 0;
    margin-top: 5px;
    margin-bottom: 0.5rem;
}
.Phone-On {
    width: 12.1%;
    height:2.6rem;
    margin-left:5%;
}
.link_m {
    width: 80%;
}
.gw_phone {
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    -webkit-animation: tellscale 3s ease infinite;
    text-align: center;
    width: 96%;
    margin-top:0.6rem;
}
/*333333333333333333333333333*/
.gw_form {
    background-color: #fff;
}
.form_tit {
    font-size: 1rem;
    font-weight: 600;
    color: #666666;
    text-align: center;
    background-color: #f5f5f5;
    padding-top: 0.5rem;

}
.box {
    border-bottom: 1px solid #dbdbdb;
    padding: 10px 0 10px 5%;
    display: -wekit-box;
    display: -wekit-flex;
    display: flex;
    -wekit-justify-content: flex-start;
    justify-content: flex-start;
    -wekit-box-align: center;
    -wekit-align-items: center;
    position: relative;
    font-size: 16px;
}
.box1 {
    border-top: 1px solid #DBDBDB;
}
.form_txt {
    width: 19%;
    display: -wekit-box;
    display: -wekit-flex;
    display: flex;
    -wekit-justify-content: space-between;
    justify-content: space-between;
    -wekit-box-align: center;
    -wekit-align-items: center;
}
button, input, optgroup, select, textarea {
    margin: 0;
    color: inherit;
}
input, button, select, textarea {
    font-size: inherit;
    line-height: inherit;
}
input {
    border: none;
    outline: none;
}
.form_input {
    font-size: 16px;
    margin-left: 10%;
    width: 64%;
}
.person {
    height: 2.5rem;
    padding-top: 0.4375rem;
    width: 17.8125rem;
    margin-left: 0.6rem;
}
.fl {
    float: left;
    display: block;
}
.people {
    width: 4.0625rem;
    height: 1.4375rem;
    line-height: 1.4375rem;
}
.people:first-of-type {
    margin-left: 4.125rem;
}
.fr {
    float: right;
    display: block;
}
.people:last-of-type {
    margin-right: 4.125rem;
}
.juzhong {
    /*width: 17.8125rem;*/
    margin: 0 auto;
    height: auto;
    border-bottom: 1px #dbdbdb solid;
}
/*22222222222222222222*/
.formcon {
    border: 1px #dbdbdb solid;
    margin-bottom: 0.5rem;
    background-color: #fff;
    box-shadow: 2px 3px 7px 1px #e6e6e6;
    border-top: none;
}
.dixian {
    border-bottom: 1px #dbdbdb solid;
    position: relative;
}
.rowcon {
    width: 18.75rem;
    margin: 0 auto;
    height: 2.5rem;
    padding: 0 0.5625rem 0;
}
.rowcon span {
    width: 28.3%;
    line-height: 2.5rem;
    font-size: 0.875rem;
    color: #666666;
    float: left;
}
.rowcon input {
    font-size: 0.8rem;
    width: 68.1%;
    height: 1.3125rem;
    color: #999999;
    float: left;
    border: none;
    margin-top: 0.5625rem;
}
.dixian .code {
    width: 6rem;
}
.code-btn {
    display: inline-block;
    font-size: 0.85rem;
    width: 5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    background: #ff870c;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    border: solid 1px #ff870c;
    margin-top: 0.4rem;
}
.rili {
    position: relative;
    padding: 0.6rem 0;
}
.submit {
    padding-top: 0;
    height: 2.5625rem;
    line-height: 2.5625rem;
    background-color: #ff870c;
    color: #ffffff;
    font-size: 1.125rem;
    text-align: center;
    border-radius: 0.3125rem;
    width: 93.5%;
    margin-left: 3.25%;
}
.notice {
    height: 3.5rem;
    background-color: #ffffff;
    padding-top: 0.5rem;
}
.notice p:first-child {
    font-size: 0.75rem;
    color: #666666;
    margin-left: 0.5rem;
    font-weight: 500;
    text-align: center;
}
.checkIt {
    height: 1.4125rem;
    margin-top: 0.4rem;
    margin-left: 0.5rem;
}
.checkIt p:first-of-type {
    font-size: 0.75rem;
    padding-top: 0.2rem;
    font-weight: 500;
    text-align: center;
}
.checkIt p:first-of-type {
    padding-top: 0;
}
.people img {
    width: 1.4375rem;
    height: 1.4375rem;
    float: left;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 7px;
}
img{
    border: none;
}
.pic_code img{
    width: 100%;
    height: 100%；
}
.pic_code{
    width: 4rem;
    height: 1.7rem;
    background-color: pink;
    margin-top: 0.4rem;
}
body .form .form-group .submit_edit{
    width: 7rem;
    display: inline-block;
    margin-left: 1.3rem;
}
body .form .form-group .submit_edit2{
    width: 7rem;
    display: inline-block;
    margin-left: 1.3rem;
    background-color: #ff870c;
}
body .form .form-group .loanTips span{
    font-weight: 600;
}
.succ_img{
    width: 2.5rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    height:2.5rem;
}
.succ_con{
    padding: 0.5rem;
    background-color: #fff;
}
.succ_r{
    width: 70%;
    font-size: 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.succ_tit{
    font-size: 0.9rem;
    color: #f25400;
}
.succ_det{
    font-size: 0.9rem;
}
.toast {
    width: 16.875rem;
    padding: 0.75rem;
    position: fixed;
    left: 50%;
    margin-left: -8.4375rem;
    top: 39%;
    border-radius: 3px;
    font-size: 0.75rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    text-align: center;
}
.yiduan_span{
    position: absolute;
    top: 0.6rem;
    right: 4.65rem;
    font-size: 0.5rem;
    color: #ff870c;
}
.rowcon .code_b{
    width: 28.3%;
    float: right;
    font-size: 0.75rem;
    height: 1.5rem;
    line-height: 1.5rem;
    padding: 0 0.2rem;
    color: #ffffff;
}
.person_bg{
    width: 86%;
    margin-left: 7%;
    margin-top: 23vh;
}

.back_con{
    position: absolute;
    top: 28vh;
    width: 100%;
}

.yiduanshi_bg{
    position: relative;
}
.person2{
    width: 22vw;
    margin-left: 39vw;
}
.back_span{
    width: 100%;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 0.9rem;
    margin-top: 0.2rem;
}
.back_red{
    color: #e75605;
}
.form_new{
    background-color: #F5F5F5;
    margin-left: 2%;
    width: 96%;
}
.sec_box{
    background-color: #f5f5f5;
    padding-bottom: 0.1rem;
    position: relative;
    padding-top: 0.5rem;
}
.gw_wap_box {
    width: 100%;
    background-color: #f5f5f5;
    padding-left: 0.3rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.gw_wap_1 {
    width: 31.5%;
    padding-top: 0.5rem;
    margin-left: 0.5%;
}
.img_box {
    width: 100%;
    height:2.4rem;
}
.text2 {
    font-size: 0.5rem;
    padding: 2px 3px;
}
.wrap-msg .msg-con img.erweicode{
    width: 30vw;
    height: 30vw;
    margin-top: 0.2rem;
}
.ewmtitle {
    width: 100%;
    height: auto;
}
.noertit1 {
    background: url(../img/1.5.png) 0.4rem 0 no-repeat;
    height: 0.84375rem;
    background-size: contain;
    margin-top: 1rem;
}
.noertit2 {
    background: url(../img/1.6.png) 0.4rem 0 no-repeat;
    height: 0.84375rem;
    background-size: contain;
    margin-top: 0.8rem;
}
.noertit3 {
    background: url(../img/1.7.png) 0.4rem 0 no-repeat;
    height: 0.84375rem;
    background-size: contain;
    margin-top: 0.8rem;
}
.wrap-msg .msg-con .img_box img {
    width: 100%;
    height: 100%;
}
.noertit1 p {
    font-size: 0.8125rem;
    text-align: center;
    height: 0.84375rem;
    line-height: 0.84375rem;
    vertical-align: middle;
    color: #f45a26;
    margin-left: 1rem;
}
.noertit2 p {
    font-size: 0.8125rem;
    text-align: center;
    height: 0.84375rem;
    line-height: 0.84375rem;
    vertical-align: middle;
    color: #f45a26;
    margin-left: 1rem;
}
.noertit3 p {
    font-size: 0.8125rem;
    text-align: center;
    height: 0.84375rem;
    line-height: 0.84375rem;
    vertical-align: middle;
    color: #f45a26;
    margin-left: 1rem;
}
.fix{
    *zoom: 1;
}
.fix:after,.fix:before{
    display: block;
    content: "clear";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.gw_wap_2 {
    width: 35.6%;
    float: right;
    margin-right: 1%;
}
.notice {
    height: 3.25rem;
    background-color: #fff;
    padding-top: 0.5rem;
    font-family: 黑体;
}
.dixian img.erweicode {
    width: 30%;
    height: 5.6rem;
    margin-top: 0.2rem;
}
.bordernone{
    border: none;
}
.sanjiao_new{
    width: 97vw;
    margin-left: 2vw;
    position: absolute;
    top: 0;
    left: 0;
}
.sanjiao_new img{
    display: block;
    height:0.55rem;
}
body .form .form-group .dro-btn {
    color: #999999;
    direction: rtl;
}
body .form .form-group .form-wrap .form-items .form-label {
    font-size: 0.875rem;
    color: #9a9a9a;
}
body .form .form-group .bootstrap-switch-container span {
    line-height: 0.9rem;
    font-size: 0.75rem;
}

.mmmm{
    width: 100px;
    height: 30px;
    background-color: pink;
}
.tan_black{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
.bl{
    display: block;
}
.tan_bg{
    width: 80%;
    position: fixed;
    z-index: 20;
    top: 25%;
    left: 10%;
    display: none;
}
.tan_bg2{
    width: 90%;
    position: fixed;
    z-index: 20;
    top: 10%;
    left: 5%;
    display: none;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    max-height: 80%;
    font-size: 0.8rem;
    font-family: "宋体";
    overflow-y:auto ;
    color: #000000;
}
.tan_text{
    width: 70%;
    position: fixed;
    z-index: 21;
    top: 33%;
    text-align: center;
    left: 15%;
    color: #ed5603;
    display: none;
}
img{
    width: 100%;
}
.tan_back{
    display: none;
    width: 25px;
    position: fixed;
    z-index: 25;
    top: 17%;
    right: 11%;
}
.tan_back2{
    display: none;
    width: 25px;
    position: fixed;
    z-index: 25;
    top: 2%;
    right: 11%;
}
.tan_black2{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
.paipai_btn{
    width: 88%;
    margin-left: 5.5%;
    background-color: #ff870d;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    font-size: 0.85rem;
    margin-top: 0.85rem;
}
.pai_logo{
    width: 23%;
    margin-left: 38.5%;
    margin-top: 35%;
}
.pro_box{
    font-size: 0.8rem;
    text-align:center;
    position: relative;
    margin-left: 8%;
    color: #000000;
}
.pai_check{
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background: url(../img/pai_lose.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 3%;
    left: 0;
}
.pai_checked{
    background: url(../img/pai_succ.png) no-repeat;
    background-size: 100% 100%;
}
.tan_title{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
    line-height: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.2rem;
}
.tan_txt{
    width: 100%;
    line-height: 1.6;
    text-indent: 2em;
}
.tan_title_help{
    font-weight: 600;
    line-height: 2.5;
}
.tan_p{
    text-indent: 0em;
}
.tan_p_m{
    line-height: 2;
    text-indent: 0em;
}
.tan_b{
    font-weight: 600;
    text-indent: 0em;
    font-size: 0.75rem;
    line-height: 2;
}
.banner img{
    height:7.1rem;
}
.mq_toast{
    width: 80%;
    position: absolute;
    background-color: #FFFFFF;
    z-index: 20;
    top:22%;
    left:50%;
    margin-left:-40%;
    text-align: center;
    border-radius: 3px;
    padding: 20px;
}
.mq_black{
    z-index: 10;
    background: #000000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.mq_close{
    position: absolute;
    top: 16%;
    left: 77%;
    z-index: 20;
    width: 6%;
    height: 2.7rem;
}
.to_lose{
    width: 30%;
    margin-left: 35%;
}
.to_but{
    width: 70%;
    background-color: #ff8700;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    font-size: 17px;
    text-align: center;
    color: #ffffff;
    line-height: 2.3;
    border-radius: 5px;
    overflow: hidden;
    font-weight: 500;
    margin-top:0.5rem;
}
.dm{
    display: none;
}
.to_tit{
    color: #ea5503;
    font-size: 0.8rem;
}
img{
    width: 100%;
    height: 100%;
}
.to_detail{
    font-size: 0.7rem;
    margin-top: 0.5rem;
    text-align: left;
}
.fix{
    *zoom: 1;
}
.fix:after,.fix:before{
    display: block;
    content: "clear";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.mq_main{
    width: 100%;
    margin-top: 1rem;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 0.8rem;
    height: 2rem;
    line-height: 2rem;
}
.mq_box1{
    width: 60%;
    height: 2rem;
}
.mq_box2{
    width: 40%;
    background-color: #FF8700;
    height: 100%;
}
.mq_inp{
    width: 100%;
    height: 1rem;
    line-height:1rem;
    outline: none;
    text-indent: 0.5rem;
    font-size: 0.8rem;
}
input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
}
textarea { -webkit-appearance: none;}
.mq_code{
    background-color: #ff8700;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    border-radius:3px;
}
.mq_black2{
    z-index: 10;
    background: #000000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display:none;
}
.mq_bg2{
    width: 75%;
    position: absolute;
    z-index: 20;
    top:22%;
    left: 50%;
    margin-left:-37.5%;
    text-align: center;
    border-radius: 3px;
    height: 10rem;
    display:none;
}
.mq_bg2_txt{
    font-size: 0.9rem;
    color: #fff;
    width: 58%;
    margin-left: -27%;
    top: 33%;
    overflow: hidden;
    height:5rem;
}
input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
}
textarea { -webkit-appearance: none;}
/*点击下载app*/
.down_box{
    width: 100%;
    color: #ef5927;
    font-family: "微软雅黑";
}
.down_tit{
    width: 100%;
    padding: 0.3rem 0;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: #ff8702;
}
.down_link{
    width:80%;
    margin-left:10%;
    margin-top: 0.3rem;
}
.down_link a{
    display: block;
    width: 40%;
}
.down_link a img{
    width: 100%;
    height: 100%;
}
.down_link_l{
    width: 100%;
}
.down_hot{
    width: 100%;
    margin-top: 3rem;
    font-weight: bold;
    color: #ef5927;
    text-align: center;
    padding: 0.5rem 0;
}
.wxbd-main .wxbd-r-content .r-success span{
    color: #ff8702;
}
.wxbd-r-content font{
    color: #888888;
}
.wxbd-r-content{
    border-bottom: none;
}
.down_step {
    width: 92%;
    margin: 2rem auto;
    margin-left: 4%;
    color: #333;
}
.fix{
    *zoom: 1;
}
.fix:after,.fix:before{
    display: block;
    content: "clear";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.down_step_l{
    font-weight: bold;
    padding-left: 10%;
    background: url(../img/down1.png) no-repeat left center;
    background-size: 18% auto;
    line-height: 2rem;
}
.down_step_l2{
    background: url(../img/down3.png) no-repeat left center;
    background-size: 18% auto;
}
.down_step_r{
    font-weight: bold;
    line-height: 1.5rem;
}
.down_red{
    color: #fe3a3c;
}
